body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.timer-container {
    margin: 20px auto;
}

.btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
}

#timerDisplay {
    font-size: 48px;
    margin-top: 20px;
}

.pause-btn {
    background-color: #FF5733;
}

.pause-btn:hover {
    background-color: #de10bc;
}

.toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(248, 2, 2, 0.3);
    animation: fadeOut 7s forwards; /* Toast desaparece após 7 segundos */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
